@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Vampiro+One&display=swap');

:root {
    --cor-primaria: #027368; 
    --cor-secundaria: #5E4333; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Istok', sans-serif;
}

#passeios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.boxpasseios{
    border: 1px solid #E4E4E4;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 10px;
    box-shadow: 5px 5px 5px #a4a4a4a4;
    border-radius: 4px 4px 0px 0px;
}
.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.card-img-top {
    height: 180px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-body {
    text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}
