{% extends 'modelo.html' %} 
{% block conteudo %}
<div class="logout">
  <p>
    Olá Guia {{ usuario_informado }}
    <a href="/logout">
      <button class="btn btn-danger" type="submit">Sair</button>
    </a>
  </p>
</div>

{% if tipo %}
<div class="row">
  {% if not(passeios) %}
  <h2>Não há passeios cadastrados</h2>
  {% else %} 
    {% for passeio in passeios %}
    <div class="col-md-4 mb-4">
    <div class="card">
      <a href="/detalhes/{{ passeio[0] }}">
        <img
          src="../static/images/imgCanion.png"
          class="card-img-top"
          alt="Imagem do Passeio"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ passeio[1] }}</h5>
        <p class="card-text">Local: {{ passeio[3] }}</p>
        <p class="card-text">Descrição: {{ passeio[2] }}</p>
        <a
          href="/deletar/{{ passeio[0] }}"
          class="btn btn-danger"
          onclick="return confirm('Tem certeza?')"
          >Excluir</a
        >
        <a href="/editPasseio/{{ passeio[0] }}" class="btn btn-primary"
          >Editar</a
        >
      </div>
    </div>
    </div>
    {% endfor %} 
  {% endif %}
</div>
<a href="/cadpasseio" class="btn btn-success">Cadastrar Passeio</a>
{% endif %}

<a href="/" class="btn btn-secondary mt-4">Voltar para Home</a>

{% endblock %}
