{% extends 'modelo.html' %} 
{% block conteudo %}
<link rel="stylesheet" href="../static/styles-adm.css">



<div class="d-flex justify-content-around w-100 align-items-center">
  <p>Olá, {{ usuario[0] }}</p>

  <div class="d-flex justify-content-end align-items-center">
    {% if tipo %}
    <a href="/cadpasseio">
      <button class="btn btn-success" type="submit">Cadastrar Passeio</button>
    </a>
    {% endif %}
    <a href="/logout">
        <button class="btn btn-danger" type="submit" id="sair">Sair</button>
    </a>
  </div>
</div>



{% if tipo %}
<div id="passeios">
  {% if not(passeios) %}
  <h2>Não há passeios cadastrados</h2>
  {% else %} 
    {% for passeio in passeios %}
    <div>
      <div class="boxpasseios">
        <a href="/detalhes/{{ passeio[0] }}">
          <img
            src="../static/images/img{{ passeio[0] }}.png"
            class="boxpasseios-image"/>
        </a>
        <div class="boxpasseios-info">
          <h5 class="card-title">{{ passeio[1] }}</h5>
          <p class="card-text">{{ passeio[3] }} - {{ passeio[2] }}</p>
          <p class="card-text">Tempo: {{ passeio[7] }} min</p>
          <p class="text-success">R$ {{ passeio[6] }} por pessoa</p>
          <a href="/editPasseio/{{ passeio[0] }}" class="btn btn-primary">
            Editar
          </a>
          <a
            href="/deletar/{{ passeio[0] }}"
            class="btn btn-danger "
            onclick="return confirm('Tem certeza?')"
            >Excluir</a
          >
        </div>
      </div>
    </div>
    {% endfor %} 
  {% endif %}
</div>
{% else %} 
<img src="../static/images/IMG CONSTRUÇÃO.jpg" style="width: 80%;" class="mt-5">

{% endif %}

{% endblock %}
