{% extends 'modelo.html' %}
{% block conteudo %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4">
                <form action="/cadPasseio" method="post">
                    <h2>Cadastro de Novo Passeio</h2>

                    <div class="mb-3">
                        <label for="nome">Nome do Passeio:</label>
                        <input class="form-control" type="text" name="nome" id="nome" required>
                    </div>

                    <div class="mb-3">
                        <label for="cepEndPasseio">CEP:</label>
                        <input class="form-control" type="text" name="cepEndPasseio" id="cepEndPasseio" required>
                    </div>

                    <div class="mb-3">
                        <label for="ruaEndPasseio">Rua:</label>
                        <input class="form-control" type="text" name="ruaEndPasseio" id="ruaEndPasseio" required>
                    </div>

                    <div class="mb-3">
                        <label for="bairroEndPasseio">Bairro:</label>
                        <input class="form-control" type="text" name="bairroEndPasseio" id="bairroEndPasseio" required>
                    </div>

                    <div class="mb-3">
                        <label for="numEndPasseio">Número:</label>
                        <input class="form-control" type="text" name="numEndPasseio" id="numEndPasseio" required>
                    </div>

                    <div class="mb-3">
                        <label for="qtdPessoas">Quantidade de Pessoas:</label>
                        <input class="form-control" type="number" min="0" max="5" step="1" name="qtdPessoas" id="qtdPessoas" required>
                    </div>

                    <div class="mb-3">
                        <label for="tempo">Tempo de Passeio (min):</label>
                        <input class="form-control" type="number" name="tempo" id="tempo" required>
                    </div>

                    <div class="mb-3">
                        <label for="valor">Valor:</label>
                        <input class="form-control" type="number" name="valor" id="valor" required>
                    </div>

                    <div class="mb-3">
                        <label for="descricao">Descrição do Passeio:</label>
                        <input class="form-control" type="text" name="descricao" id="descricao" required>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-success w-100" type="submit">Cadastrar Passeio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
