{% extends 'modelo.html' %} {% block conteudo %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='listaPasseios.css') }}"
/>

<div class="accordion accordion-flush" id="accordionFlushExample">
    {% for item in agendamentos_com_grupos %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ item.agendamento[0] }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ item.agendamento[0] }}" aria-expanded="false" aria-controls="flush-collapse{{ item.agendamento[0] }}">
                {{ item.agendamento[3] }} - {{ item.agendamento[5] }}/{{ item.agendamento[4] }}
            </button>
        </h2>
        <div id="flush-collapse{{ item.agendamento[0] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ item.agendamento[0] }}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <h5>Grupos associados:</h5>
                {% if item.grupos %}
                    {% for grupo in item.grupos %}
                        <div class="card my-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ grupo[0] }}</h5>
                                <p class="card-text">Quantidade de turistas: {{ grupo[1] }}</p>
                                <p class="card-text">Pago: {{ 'Sim' if grupo[2] else 'Não' }}</p>
                                {% if grupo[2] %}
                                    <button type="button" class="btn btn-lg btn-primary" disabled>Pagamento Confirmado!</button>
                                {% else %}
                                    <form action="/{{ grupo[3] }}/pago" method="POST">
                                        <button type="submit" class="btn btn-primary">Confirmar Pix</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-muted">Nenhum grupo associado a este agendamento.</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>




{% endblock %}
