{% extends 'modelo.html' %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles-login.css">

<body class="login-background">
    <div id="login">
        <form action="/acesso" method="post" class="content">

            <h2 class="lblEntrar">Entrar</h2>

            {% if msg %}  mensagem prenchida
             <h2 style="color: red;">{{ msg }}</h2>
            {% endif %}

            <input class="iptLogin" type="text" name="usuario" id="usuario" placeholder="Nome de Usuário"required><br><br>

            <input class="iptLogin" type="password" name="senha" id="senha" placeholder="Senha" required><br><br>

            <input class="btnGeral" type="submit" value="Login">

            <div>
                <a href="/cadGuia" class="btnGeral" id="cadastar">Cadastrar Guia</a>
                <a href="/cadTurista" class="btnGeral">Cadastrar Turista</a>
            </div>
        </form>
</body>
{% endblock %}

